.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightblue;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  line-height: 100%;
  padding-top: 15px;
}

.collapse-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.youtube {
  margin: 10px;
  padding: 10px;
}

.player-image {
  width: 200px;
  height: auto;
}

.faceImage{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.expendArrow{
  width: 30px;
  height: auto;
}